DEEPSEEK_API_KEY=your_deepseek_api_key_here
PORT=3001

DB_HOST=localhost
DB_PORT=5433
DB_USER=rick
DB_PASS=postgres
DB_NAME=jsdrill

JWT_ACCESS_SECRET=change-me-min-32-characters-long-!!
JWT_REFRESH_SECRET=change-me-min-32-characters-long-!!

NODE_ENV=development
